<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Payment Failed - AdFusion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        body {
            background-color: #000000;
            color: #f5f5f5;
            font-family: 'Arial', sans-serif;
            text-align: center;
            margin-top: 50px;
        }

        h1 {
            color: #DFBD69;
        }

        p {
            color: #f5f5f5;
        }
    </style>
</head>

<body>
    <h1>Payment Failed</h1>
    <p>Your payment failed.</p>
    <a href="javascript:history.back()" class="btn-back">Return to Payments Page</a>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            // Handling flash messages with 'danger' category
            let errorMessage = '{{ get_flashed_messages(category_filter=["danger"])[0] if get_flashed_messages(category_filter=["danger"]) else "" }}';
            if (errorMessage) {
                alert(errorMessage);
            }
    
            // Handling flash messages with 'success' category
            let successMessage = '{{ get_flashed_messages(category_filter=["success"])[0] if get_flashed_messages(category_filter=["success"]) else "" }}';
            if (successMessage) {
                alert(successMessage);
            }
        });
    </script>
</body>

</html>
